<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="br.com.petshow">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <activity
            android:name=".activity.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".activity.ProfileActivity" />
        <activity
            android:name=".activity.MenuActivity"
            android:label="@string/title_activity_menu"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.PrincipalActivity"
            android:label="@string/title_activity_principal"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EdtUsuarioActivity"
            android:label="@string/title_activity_edt_usuario"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ListaPetsActivity"
            android:label="@string/title_activity_lista_pets"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NovoPetActivity"
            android:label="@string/title_activity_novo_pet"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.CriarPostActivity"
            android:label="@string/title_activity_criar_post"
            android:parentActivityName=".activity.PetActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="br.com.petshow.activity.PetActivity" />
        </activity>

        <provider
            android:name="com.facebook.FacebookContentProvider"
            android:authorities="com.facebook.app.FacebookContentProvider945090532299696"
            android:exported="true" />

        <service android:name=".google.PetFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".google.PetFirebaseInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity
            android:name=".activity.CarregamentoActivity"
            android:label="@string/title_activity_carregamento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NotificationActivity"
            android:label="@string/title_activity_notification"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.AmigoActivity"
            android:label="@string/title_activity_amigo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PerfilActivity"
            android:label="@string/title_activity_perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.Main2Activity"
            android:label="@string/title_activity_main2"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NovoPerdidoActivity"
            android:label="@string/title_activity_novo_perdido"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.NovoAdocaoActivity"
            android:label="@string/title_activity_novo_adocao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EdtVacinaActivity"
            android:label="@string/title_activity_edt_vacina"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EdtTratamentoActivity"
            android:label="@string/title_activity_edt_tratamento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.EdtVermifugoActivity"
            android:label="@string/title_activity_edt_vermifugo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ListaTratamentoActivity"
            android:label="@string/title_activity_lista_tratamento"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ListaVermifugoActivity"
            android:label="@string/title_activity_lista_vermifugo"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.ListaVacinaActivity"
            android:label="@string/title_activity_lista_vacina"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PerfilAdocaoActivity"
            android:label="@string/title_activity_perfil_adocao"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".activity.PerAdocaoActivity"
            android:label="@string/title_activity_per_adocao"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>